<%= style_tag "redis_info/css/ext.css" %>

<div class="header-container">
  <h1><%= t('Redis') %></h1>
</div>

<div class="table_container">
  <table class="table table-hover table-bordered table-striped table-condensed">
    <thead>
      <th class="keys" data-width="25"><%= t('Key') %></th>
      <th class="values"><%= t('Value') %></th>
    </thead>
    <tbody>
      <% @info.each do |k, v| %>
      <tr>
        <td><%= h k %></td>
        <td><%= h v %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= script_tag "redis_info/js/ext.js" %>
<%= script_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js", integrity: "sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz", crossorigin: "anonymous" %>