<footer>
  <nav>
    <ul>
      <li><p><strong><%= product_version %></strong></p></li>
      <li><p title="<%= redis_url %>"><%= redis_url %></p></li>
      <li><p><%= server_utc_time %></p></li>
      <li><p><a rel="help" href="https://github.com/sidekiq/sidekiq/wiki">docs</a></p></li>
    </ul>
    <ul>
      <li>
      <form id="locale-form" action="<%= root_path %>change_locale" method="post">
          <%= csrf_tag %>
          <label for="locale" class="sr-only">Language</label>
          <select id="locale-select" name="locale">
            <% available_locales.each do |locale_option| %>
              <% if locale_option == locale %>
                <option selected value="<%= locale_option %>"><%= language_name(locale_option) %></option>
              <% else %>
                <option value="<%= locale_option %>"><%= language_name(locale_option) %></option>
              <% end %>
            <% end %>
          </select>
        </form>
      </li>
    </ul>
  </nav>
</footer>
