<nav>
  <ul><li><strong>
    <a class="brand" href="<%= root_path %>"><%= Sidekiq::NAME %></strong></a>
  </li></ul>
  <ul>
  <% config.tabs.each do |title, url| %>
    <% if url == '' %>
      <li>
        <%= current_path == url ? '<a aria-current="page"' : '<a ' %>
        href="<%= root_path %><%= url %>"><%= t(title) %></a>
      </li>
    <% else %>
      <li>
        <%= current_path.start_with?(url) ? '<a aria-current="page"' : '<a ' %>
         href="<%= root_path %><%= url %>"><%= t(title) %></a>
      </li>
    <% end %>
  <% end %>
  </ul>

  <ul><li>
  <% if pollable? %>
    <button class="live-poll-start live-poll"><%= t('LivePoll') %></button>
    <button class="live-poll-stop live-poll secondary" style="display: none"><%= t('StopPolling') %></button>
  <% end %>
  <% if config.app_url %>
    <a class="contrast" href="<%= config.app_url %>"><%= t('BackToApp') %></a>
  <% end %>
  </li></ul>
</nav>
