<section>
<div class="grid">
  <article>
    <span class="count" data-nwp><%= stats.processed %></span>
    <footer><%= t('Processed') %></footer>
  </article>
  <article>
    <span class="count" data-nwp><%= stats.failed %></span>
    <footer><%= t('Failed') %></footer>
  </article>
  <article>
    <a href="<%= root_path %>busy">
      <span class="count" data-nwp><%= workset.size %></span>
    </a>
    <footer><%= t('Busy') %></footer>
  </article>
  <article>
    <a href="<%= root_path %>queues">
      <span class="count" data-nwp><%= stats.enqueued %></span>
    </a>
    <footer><%= t('Enqueued') %></footer>
  </article>
  <article>
    <a href="<%= root_path %>retries">
      <span class="count" data-nwp><%= stats.retry_size %></span>
    </a>
    <footer><%= t('Retries') %></footer>
  </article>
  <article>
    <a href="<%= root_path %>scheduled">
      <span class="count" data-nwp><%= stats.scheduled_size %></span>
    </a>
    <footer><%= t('Scheduled') %></footer>
  </article>
  <article>
    <a href="<%= root_path %>morgue">
      <span class="count" data-nwp><%= stats.dead_size %></span>
    </a>
    <footer><%= t('Dead') %></footer>
  </article>
</div>
</section>