<ul class="unstyled summary row">
  <li class="processed span2">
    <span class="count"><%= number_with_delimiter(stats.processed) %></span>
    <span class="desc"><%= t('Processed') %></span>
  </li>
  <li class="failed span2">
    <span class="count"><%= number_with_delimiter(stats.failed) %></span>
    <span class="desc"><%= t('Failed') %></span>
  </li>
  <li class="busy span2">
    <a href="<%= root_path %>workers">
      <span class="count"><%= number_with_delimiter(workers_size) %></span>
      <span class="desc"><%= t('Busy') %></span>
    </a>
  </li>
  <li class="scheduled span2">
    <a href="<%= root_path %>scheduled">
      <span class="count"><%= number_with_delimiter(stats.scheduled_size) %></span>
      <span class="desc"><%= t('Scheduled') %></span>
    </a>
  </li>
  <li class="retries span2">
    <a href="<%= root_path %>retries">
      <span class="count"><%= number_with_delimiter(stats.retry_size) %></span>
      <span class="desc"><%= t('Retries') %></span>
    </a>
  </li>
  <li class="enqueued span2">
    <a href="<%= root_path %>queues">
      <span class="count"><%= number_with_delimiter(stats.enqueued) %></span>
      <span class="desc"><%= t('Enqueued') %></span>
    </a>
  </li>
</ul>
