<%= erb :_job_info, locals: { job: @dead, type: :dead } %>

<section>
  <h3><%= t('Error') %></h3>
  <table class="striped"
    <tbody>
      <tr>
        <th><%= t('ErrorClass') %></th>
        <td>
          <code><%= @dead['error_class'] %></code>
        </td>
      </tr>
      <tr>
        <th><%= t('ErrorMessage') %></th>
        <td><%= h(@dead['error_message']) %></td>
      </tr>
      <% if @dead.error_backtrace %>
        <tr>
          <th><%= t('ErrorBacktrace') %></th>
          <td>
            <code><%= @dead.error_backtrace.join("<br/>") %></code>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <form action="<%= root_path %>morgue/<%= job_params(@dead, @dead.score) %>" method="post">
    <%= csrf_tag %>
    <fieldset class="grid">
      <a href="<%= root_path %>morgue"><%= t('GoBack') %></a>
      <div><!-- spacer --></div>
      <input type="submit" name="retry" value="<%= t('RetryNow') %>" />
      <input class="danger" type="submit" name="delete" value="<%= t('Delete') %>" />
    </fieldset>
  </form>
</section>