<form role="search" method="get" action='<%= root_path %><%= which %>'>
  <input type="search" name="substr" value="<%= h url_params("substr") %>" placeholder="<%= t('AnyJobContent') %>"/>
  <input type="submit" value="<%= t('Search') %>" />
</form>