<!doctype html>
<html dir="<%= text_direction %>" lang="<%= locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link href="<%= root_path %>stylesheets/pico.red.css" media="screen" rel="stylesheet" type="text/css" nonce="<%= csp_nonce %>"/>
    <link href="<%= root_path %>stylesheets/app.css" media="screen" rel="stylesheet" type="text/css" nonce="<%= csp_nonce %>" />

    <link rel="apple-touch-icon" href="<%= root_path %>images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="<%= root_path %>images/favicon.ico" />
    <title><%= environment_title_prefix %><%= Sidekiq::NAME %></title>
    <%= display_custom_head %>
  </head>
  <body data-locale="<%= locale %>">
    <header>
      <%= erb :_nav %>
    </header>

    <main class="container-fluid">
      <%= yield %>
    </main>

    <%= erb :_footer %>
    <script type="text/javascript" src="<%= root_path %>javascripts/application.js" nonce="<%= csp_nonce %>"></script>
  </body>
</html>
