<!doctype html>
<html>
  <head>
    <title><%= environment_title_prefix %><%= Sidekiq::NAME %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link href="<%= root_path %>stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="<%= root_path %>stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="<%= root_path %>javascripts/application.js"></script>
    <script type="text/javascript" src="<%= root_path %>javascripts/locales/jquery.timeago.<%= locale %>.js"></script>
    <meta name="google" content="notranslate" />
    <script>
$(function(){
 setTimeout(function(){
  $('HEAD').append($('<link href="//fonts.googleapis.com/css?family=Gudea:400,700" media="screen" rel="stylesheet" type="text/css" />'));
  $('HEAD').append($('<link href="//fonts.googleapis.com/css?family=Armata" media="screen" rel="stylesheet" type="text/css" />'));
 }, 100);
});
</script>
  </head>
  <body class="admin">
    <%= erb :_nav %>
    <div id="page">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 summary_bar">
            <%= erb :_summary %>
          </div>

          <div class="col-sm-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%=  erb :_footer %>
  </body>
</html>
