<script type="text/javascript" src="<%= root_path %>javascripts/chart.min.js" nonce="<%= csp_nonce %>"></script>
<script type="text/javascript" src="<%= root_path %>javascripts/chartjs-plugin-annotation.min.js" nonce="<%= csp_nonce %>"></script>
<script type="text/javascript" src="<%= root_path %>javascripts/base-charts.js" nonce="<%= csp_nonce %>"></script>

<%
  job_result = @query_result.job_results[@name]
  hist_totals = job_result.hist.values.first.zip(*job_result.hist.values[1..-1]).map(&:sum).reverse
  bucket_labels = Sidekiq::Metrics::Histogram::LABELS
  bucket_intervals = Sidekiq::Metrics::Histogram::BUCKET_INTERVALS

  def period_link(currentval)
    paramval = url_params("period") || "1h"
    paramval == currentval ? currentval : "<a href='?period=#{currentval}'>#{currentval}</a>"
  end
%>

<section>
<% if job_result.totals["s"] > 0 %>
  <div class="grid">
    <h3>
      <a href="<%= root_path %>metrics?period=<%= @period %>"><%= t('Metrics') %></a> &gt; <%= h @name %>
    </h3>
    <div><!-- spacer --></div>
    <nav>
      <ul>
        <li><%= t('MetricsPeriod') %>:</li>
        <li><%= period_link("1h") %></li>
        <li><%= period_link("2h") %></li>
        <li><%= period_link("4h") %></li>
        <li><%= period_link("8h") %></li>
      </ul>
    </nav>
  </div>

  <canvas id="hist-totals-chart">
    <%= to_json({
      series: hist_totals,
      labels: bucket_labels,
      xLabel: t('ExecutionTime'),
      yLabel: t('Jobs'),
      units: t('Jobs').downcase,
    }) %>
  </canvas>

  <canvas id="hist-bubble-chart">
    <%= to_json({
      hist: job_result.hist,
      marks: @query_result.marks.map { |m| [m.bucket, m.label] },
      labels: @query_result.buckets,
      histIntervals: bucket_intervals,
      yLabel: t('ExecutionTime'),
      markLabel: t('Deploy'),
      yUnits: t('Seconds').downcase,
      zUnits: t('Jobs').downcase,
    }) %>
  </canvas>

<% else %>
  <h1>
    <a href="<%= root_path %>/metrics"><%= t('Metrics') %></a> / <%= h @name %>
  </h1>

  <p><%= t('NoJobMetricsFound') %></p>
<% end %>
</section>

<script type="text/javascript" src="<%= root_path %>javascripts/metrics.js" nonce="<%= csp_nonce %>"></script>
