<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script type="text/javascript" src="<%= root_path %>javascripts/metrics.js"></script>

<h3><%= t('Metrics') %></h3>

<%
  limit = 10
  job_results = @query_result.job_results.sort_by { |(kls, jr)| jr.totals["ms"] }.reverse.first(limit).to_h
  # Colors taken from https://www.chartjs.org/docs/latest/samples/utils.html
  colors = [
    "#4dc9f6",
    "#f67019",
    "#f53794",
    "#537bc4",
    "#acc236",
    "#166a8f",
    "#00a950",
    "#58595b",
    "#8549ba",
    "#991b1b",
  ]
%>

<canvas
  id="metrics-chart"
  data-labels="<%= h Sidekiq.dump_json(@query_result.buckets) %>"
  data-series="<%= h Sidekiq.dump_json(job_results.map { |(kls, jr)| [kls, jr.dig("series", "ms")] }.to_h) %>"
  data-colors="<%= h Sidekiq.dump_json(colors) %>"
></canvas>

<h3>Most Time-Consuming Jobs</h3>

<div class="table_container">
  <table class="table table-bordered table-striped table-hover">
    <tbody>
      <tr>
        <th><%= t('Name') %></th>
        <th><%= t('Processed') %></th>
        <th><%= t('Failed') %></th>
        <th><%= t('ExecutionTime') %></th>
        <th><%= t('AvgExecutionTime') %></th>
      </tr>
      <% if job_results.any? %>
        <% job_results.each_with_index do |(kls, jr), i| %>
          <tr>
            <td>
              <div class="metrics-swatch-wrapper">
                <span class="metrics-swatch" style="background: <%= colors[i] %>"></span>
                <code><a href="<%= root_path %>metrics/<%= kls %>"><%= kls %></a></code>
              </div>
            </td>
            <td><%= jr.dig("totals", "p") %></td>
            <td><%= jr.dig("totals", "f") %></td>
            <td><%= (jr.dig("totals", "ms").to_f / 1000).round(0) %> seconds</td>
            <td><%= (jr.dig("totals", "ms").to_f / jr.dig("totals", "p") / 1000).round(2) %> seconds</td>
          </tr>
        <% end %>
      <% else %>
          <tr><td colspan=3><%= t("NoDataFound") %></td></tr>
      <% end %>
    </tbody>
  </table>
</div>

<p>
Data from <%= @query_result.starts_at %> to <%= @query_result.ends_at %>
</p>
