<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script type="text/javascript" src="<%= root_path %>javascripts/metrics.js"></script>

<h3><%= t('Metrics') %></h3>

<canvas
  id="metrics-chart"
  data-labels="<%= h Sidekiq.dump_json(@resultset[:series_labels]) %>"
  data-series="<%= h Sidekiq.dump_json(@resultset[:ms_series]) %>"
></canvas>

<h3>Top Jobs by Processed Count</h3>
<% top = @resultset[:top_classes] %>

<% topp = top["p"]&.first(10) %>
<div class="table_container">
  <table class="table table-bordered table-striped table-hover">
    <tbody>
      <tr>
        <th><%= t('Name') %></th>
        <th><%= t('Processed') %></th>
        <th><%= t('ExecutionTime') %></th>
      </tr>
      <% if topp %>
        <% topp.each do |kls, val| %>
          <tr>
            <td><code><a href="<%= root_path %>metrics/<%= kls %>"><%= kls %></a></code></td>
            <td><%= val %></td>
            <td><%= top.dig("ms", kls) %></td>
          </tr>
        <% end %>
      <% else %>
          <tr><td colspan=3><%= t("NoDataFound") %></td></tr>
      <% end %>
    </tbody>
  </table>
</div>

<h3>Top Jobs by Execution Time</h3>

<% topms = top["ms"]&.first(10) %>
<div class="table_container">
  <table class="table table-bordered table-striped table-hover">
    <tbody>
      <tr>
        <th><%= t('Name') %></th>
        <th><%= t('Processed') %></th>
        <th><%= t('ExecutionTime') %></th>
      </tr>
      <% if topms %>
        <% topms.each do |kls, val| %>
          <tr>
            <td><code><a href="<%= root_path %>metrics/<%= kls %>"><%= kls %></a></code></td>
            <td><%= top.dig("p", kls) %></td>
            <td><%= val %></td>
          </tr>
        <% end %>
      <% else %>
          <tr><td colspan=3><%= t("NoDataFound") %></td></tr>
      <% end %>
    </tbody>
  </table>
</div>

<p>
Data from <%= @resultset[:starts_at] %> to <%= @resultset[:ends_at] %>
</p>
