<script type="text/javascript" src="<%= root_path %>javascripts/chart.min.js"></script>
<script type="text/javascript" src="<%= root_path %>javascripts/chartjs-plugin-annotation.min.js"></script>
<script type="text/javascript" src="<%= root_path %>javascripts/base-charts.js"></script>
<script type="text/javascript" src="<%= root_path %>javascripts/metrics.js"></script>

<div class="header-container">
  <h1><%= t('Metrics') %></h1>

  <div>
    <a target="blank" href="https://github.com/mperham/sidekiq/wiki/Metrics"><span class="info-circle" title="Click to learn more about metrics">?</span></a>
  </div>
</div>


<canvas id="job-metrics-overview-chart"></canvas>

<script>
  window.jobMetricsChart = new JobMetricsOverviewChart(
    "job-metrics-overview-chart",
    "job-metrics-table-body",
    {
      markLabel: "<%= t('Deploy') %>",
      units: "<%= t('Seconds').downcase %>",
      yLabel: "<%= t('TotalExecutionTime') %>",
      noDataFound: "<%= t('NoDataFound') %>",
    }
  )
</script>

<div class="table_container">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th><%= t('Name') %></th>
        <th><%= t('Success') %></th>
        <th><%= t('Failure') %></th>
        <th><%= t('TotalExecutionTime') %></th>
        <th><%= t('AvgExecutionTime') %></th>
      </tr>
    </thead>
    <tbody id="job-metrics-table-body">
      <tr><td colspan=5><%= t("Loading") %></td></tr>
    </tbody>
  </table>
</div>

<p>
  <small id="metrics-data-from"></small>
</p>
