<script type="text/javascript" src="<%= root_path %>javascripts/chart.min.js"></script>
<script type="text/javascript" src="<%= root_path %>javascripts/chartjs-plugin-annotation.min.js"></script>
<script type="text/javascript" src="<%= root_path %>javascripts/metrics.js"></script>

<h3><%= t('Metrics') %> / <%= h @name %></h3>

<%
  job_result = @query_result.job_results[@name]
%>

<canvas id="hist-bubble-chart"></canvas>

<script>
  window.histBubbleChart = new HistBubbleChart(
    "hist-bubble-chart",
    <%= Sidekiq.dump_json({
      hist: job_result.hist,
      marks: @query_result.marks.map { |m| [m.bucket, m.label] },
      labels: @query_result.buckets,
      histBuckets: Sidekiq::Metrics::Histogram::LABELS.reverse,
    }) %>
  )
</script>

<h3>Performance over time</h3>

<div class="table_container">
  <table class="table table-bordered table-striped table-hover">
    <tbody>
      <tr>
        <th><%= t('Time') %></th>
        <th><%= t('Processed') %></th>
        <th><%= t('ExecutionTime') %></th>
        <th><%= t('Failed') %></th>
        <th><%= t('Deploy') %></th>
        <th><%= t('Histogram') %></th>
      </tr>
      <% @query_result.buckets.reverse.each do |bucket| %>
        <tr>
          <td><%= bucket %></td>
          <td><%= job_result.series.dig("p", bucket) %></td>
          <td><%= job_result.series.dig("ms", bucket) %></td>
          <td><%= job_result.series.dig("f", bucket) %></td>
          <td><%= @query_result.marks %></td>
          <td><%= job_result.hist[bucket] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p><small>Data from <%= @query_result.starts_at %> to <%= @query_result.ends_at %></small></p>
