
<h3><%= t('Metrics') %></h3>

<form class="form-inline" action="<%= root_path %>metrics" method="get">
  <div class="form-group">
    <% if @resultset[:job_classes]&.size > 0 %>
      <select class="form-control" name="klass">
        <% @resultset[:job_classes].each do |name| %>
          <option value="<%= h name %>"><%= h name %></option>
        <% end %>
      </select>
    <% end %>
    <button class="btn btn-primary">Filter</button>
  </div>
</form>

<div class="table_container">
  <table class="table table-bordered table-striped table-hover">
    <tbody>
      <tr>
        <th><%= t('Name') %></th>
        <th><%= t('Processed') %></th>
        <th><%= t('Failed') %></th>
        <th><%= t('Execution Time') %></th>
      </tr>
      <% @resultset[:data].each_with_index do |hash, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= hash.fetch("p", "-") %></td>
          <td><%= hash.fetch("f", "-") %></td>
          <td><%= hash.fetch("ms", "-") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
