
<h2><%= t('Metrics') %> / <%= h @name %></h2>

<div class="row chart">
  <div id="realtime" data-processed-label="<%= t('Processed') %>" data-failed-label="<%= t('Failed') %>"></div>
</div>

<% job_result = @query_result.job_results[@name] %>
<div class="table_container">
  <table class="table table-bordered table-striped table-hover">
    <tbody>
      <tr>
        <th><%= t('Time') %></th>
        <th><%= t('Processed') %></th>
        <th><%= t('ExecutionTime') %></th>
        <th><%= t('Failed') %></th>
        <th><%= t('Deploy') %></th>
        <th><%= t('Histogram') %></th>
      </tr>
      <% @query_result.buckets.each do |bucket| %>
        <tr>
          <td><%= bucket %></td>
          <td><%= job_result.series.dig("p", bucket) %></td>
          <td><%= job_result.series.dig("ms", bucket) %></td>
          <td><%= job_result.series.dig("f", bucket) %></td>
          <td><%= @query_result.marks %></td>
          <td><%= job_result.hist[bucket] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p><small>Data from <%= @query_result.starts_at %> to <%= @query_result.ends_at %></small></p>
