<section>
  <div class="grid">
    <h2><%= t('DeadJobs') %></h2>
    <%= filtering('morgue') %>
    <% unfiltered? do %>
      <form action="<%= root_path %>morgue/all" method="post">
        <%= csrf_tag %>
        <fieldset class="grid">
          <input class="danger" type="submit" name="retry" value="<%= t('RetryAll') %>" data-confirm="<%= t('AreYouSure') %>" />
          <input class="danger" type="submit" name="delete" value="<%= t('DeleteAll') %>" data-confirm="<%= t('AreYouSure') %>" />
        </fieldset>
      </form>
    <% end %>
  </div>

<% if @dead.size > 0 %>
  <form action="<%= root_path %>morgue" method="post">
    <%= csrf_tag %>
    <table class="striped">
      <thead>
        <tr>
          <th><label><input type="checkbox" class="check_all" /></label></th>
          <th><%= t('LastRetry') %></th>
          <th><%= t('Queue') %></th>
          <th><%= t('Job') %></th>
          <th><%= t('Arguments') %></th>
          <th><%= t('Error') %></th>
        </tr>
      </thead>
      <% @dead.each do |entry| %>
        <tr>
          <td>
            <label><input type='checkbox' name='key[]' value='<%= job_params(entry.item, entry.score) %>' /></label>
          </td>
          <td>
            <a href="<%= root_path %>morgue/<%= job_params(entry.item, entry.score) %>"><%= relative_time(entry.at) %></a>
          </td>
          <td>
            <a href="<%= root_path %>queues/<%= entry.queue %>"><%= entry.queue %></a>
          </td>
          <td>
            <%= entry.display_class %>
            <%= display_tags(entry, "dead") %>
          </td>
          <td>
            <code class="overflow-auto"><%= display_args(entry.display_args) %></code>
          </td>
          <td>
            <% if entry.error? %>
            <code><%= h truncate("#{entry['error_class']}: #{entry['error_message']}", 200) %></code>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class="grid">
      <input type="submit" name="retry" value="<%= t('RetryNow') %>" />
      <input class="danger" type="submit" name="delete" value="<%= t('Delete') %>" />
      <div><!-- spacer --></div>
      <% if @dead.size > 0 && @total_size > @count %>
        <%= erb :_paging, locals: { url: "#{root_path}morgue" } %>
      <% end %>
    </div>
  </form>

<% else %>
  <p><%= t('NoDeadJobsFound') %></p>
<% end %>
<section>