<style>
  .btn-warning {
    color: #fff !important;
    background-color: #cc8015 !important;
    border-color: #eea236 !important;
    background-image: none !important;
  }

  .label-warning {
    background-color: #cc8015 !important;
  }
</style>
<div class="header-container">
  <h1><%= t('CurrentMessagesInQueue', :queue => h(@name)) %>
    <% if @queue.paused? %>
      <span class="label label-danger"><%= t('Paused') %></span>
    <% end %>
    <span class="badge badge-secondary"><%= number_with_delimiter(@total_size) %></span>
    <form action="<%= root_path %>queues/<%= CGI.escape(@queue.name) %>" method="post" style="display:inline">
      <%= csrf_tag %>
      <% if @queue.respond_to?(:is_non_work_hour_only?) && @queue.is_non_work_hour_only? %>
        <input class="btn btn-danger btn-xs" type="submit" name="unset_non_work_hour" value="<%= t('StartExecution') %>" data-confirm="<%= t('AreYouSureUnpauseNonWorkHourQueue', :queue => h(@queue.name)) %>"/>
      <% elsif @queue.respond_to?(:is_non_work_hour_only?) %>
        <input class="btn btn-danger btn-xs" type="submit" name="set_non_work_hour" value="<%= t('PauseTillNonWorkHours') %>" data-confirm="<%= t('AreYouSureNonWorkHourQueue', :queue => h(@queue.name)) %>"/>
      <% end %>
      <% unless @queue.respond_to?(:is_non_work_hour_only?) && @queue.is_non_work_hour_only? %>
        <% if @queue.paused? %>
          <input class="btn btn-warning btn-xs" type="submit" name="unpause" value="<%= t('Unpause') %>"/>
        <% else %>
          <input class="btn btn-warning btn-xs" type="submit" name="pause" value="<%= t('Pause') %>"/>
        <% end %>
      <% end %>
      <input class="btn btn-danger btn-xs" type="submit" name="delete" value="<%= t('Delete') %>" data-confirm="<%= t('AreYouSureDeleteQueue', :queue => h(@queue.name)) %>"/>
    </form>
  </h1>
  <% if defined?(Sidekiq::Web::DynamicUiContent) %>
    <%= Sidekiq::Web::DynamicUiContent.queue_page_header_right(@queue) %>
  <% else %>
    <%= erb :_paging, locals: { url: "#{root_path}queues/#{CGI.escape(@name)}" } %>
  <% end %>
</div>

<div class="table_container">
  <table class="queue table table-hover table-bordered table-striped">
    <thead>
      <th><a href="<%= url %>?direction=<%= params[:direction] == 'asc' ? 'desc' : 'asc' %>"># <%= sort_direction_label %></a></th>
      <th><%= t('Job') %></th>
      <th><%= t('Arguments') %></th>
      <th><%= t('Context') %></th>
      <th><%= t('Actions') %></th>
    </thead>
    <% @jobs.each_with_index do |job, index| %>
      <tr title="<%= job.jid %>">
        <% if params[:direction] == 'asc' %>
          <td><%= @count * (@current_page - 1) + index + 1 %></td>
        <% else %>
          <td><%= @total_size - (@count * (@current_page - 1) + index) %></td>
        <% end %>
        <td>
          <%= h(job.display_class) %>
          <%= display_tags(job, nil) %>
        </td>
        <td>
          <% a = job.display_args %>
          <% if a.inspect.size > 100 %>
            <span id="job_<%= index %>"><%= h(a.inspect[0..100]) + "... " %></span>
            <button data-toggle="job_<%= index %>_full" class="btn btn-default btn-xs"><%= t('ShowAll') %></button>
            <div class="toggle" id="job_<%= index %>_full"><%= display_args(a) %></div>
          <% else %>
            <%= display_args(job.display_args) %>
          <% end %>
        </td>
        <td>
          <%= h(job["cattr"].inspect) if job["cattr"]&.any? %>
        </td>
        <td>
          <form action="<%= root_path %>queues/<%= CGI.escape(@name) %>/delete" method="post">
            <%= csrf_tag %>
            <input name="key_val" value="<%= h job.value %>" type="hidden" />
            <input class="btn btn-danger btn-xs" type="submit" name="delete" value="<%= t('Delete') %>" data-confirm="<%= t('AreYouSure') %>" />
          </form>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%= erb :_paging, locals: { url: "#{root_path}queues/#{CGI.escape(@name)}" } %>
