<section>
  <div class="grid">
    <h2><%= t('Retries') %></h2>
    <%= filtering('retries') %>
    <% unfiltered? do %>
      <form action="<%= root_path %>retries/all" method="post">
        <%= csrf_tag %>
        <fieldset class="grid">
          <input class="danger" type="submit" name="delete" value="<%= t('DeleteAll') %>" data-confirm="<%= t('AreYouSure') %>" />
          <input class="danger" type="submit" name="retry" value="<%= t('RetryAll') %>" data-confirm="<%= t('AreYouSure') %>" />
          <input class="danger" type="submit" name="kill" value="<%= t('KillAll') %>" data-confirm="<%= t('AreYouSure') %>" />
        </fieldset>
      </form>
    <% end %>
  </div>

<% if @retries.size > 0 %>
  <form action="<%= root_path %>retries" method="post">
    <%= csrf_tag %>
    <table class="striped">
      <thead>
        <tr>
          <th><label><input type="checkbox" class="check_all" /></label></th>
          <th><%= t('NextRetry') %></th>
          <th><%= t('RetryCount') %></th>
          <th><%= t('Queue') %></th>
          <th><%= t('Job') %></th>
          <th><%= t('Arguments') %></th>
          <th><%= t('Error') %></th>
        </tr>
      </thead>
      <% @retries.each do |entry| %>
        <tr>
          <td>
            <label><input type='checkbox' name='key[]' value='<%= job_params(entry.item, entry.score) %>' class='shift_clickable' /></label>
          </td>
          <td>
            <a href="<%= root_path %>retries/<%= job_params(entry.item, entry.score) %>"><%= relative_time(entry.at) %></a>
          </td>
          <td><%= entry['retry_count'] %></td>
          <td>
            <a href="<%= root_path %>queues/<%= entry.queue %>"><%= entry.queue %></a>
          </td>
          <td>
            <%= entry.display_class %>
            <%= display_tags(entry, "retries") %>
          </td>
          <td>
            <code class="overflow-auto"><%= display_args(entry.display_args) %></code>
          </td>
          <td>
            <code><%= h truncate("#{entry['error_class']}: #{entry['error_message']}", 200) %></code>
          </td>
        </tr>
      <% end %>
    </table>
    <div class="grid">
      <input type="submit" name="retry" value="<%= t('RetryNow') %>" />
      <input class="danger" type="submit" name="delete" value="<%= t('Delete') %>" />
      <input class="danger" type="submit" name="kill" value="<%= t('Kill') %>" />
      <div><!--spacer--></div>
      <% if @retries.size > 0 && @total_size > @count %>
        <%= erb :_paging, locals: { url: "#{root_path}retries" } %>
      <% else %>
        <div><!-- spacer --></div>
      <% end %>
    </div>
  </form>

<% else %>
  <p><%= t('NoRetriesFound') %></p>
<% end %>
</section>
