<%= erb :_job_info, locals: { job: @retry, type: :retry } %>

<section>
  <h3><%= t('Error') %></h3>

  <table class="striped">
    <tbody>
      <tr>
        <th><%= t('ErrorClass') %></th>
        <td>
          <code><%= h @retry['error_class'] %></code>
        </td>
      </tr>
      <tr>
        <th><%= t('ErrorMessage') %></th>
        <td><%= h(@retry['error_message']) %></td>
      </tr>
      <% if @retry.error_backtrace %>
        <tr>
          <th><%= t('ErrorBacktrace') %></th>
          <td>
            <code><%= @retry.error_backtrace.join("<br/>") %></code>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="grid">
    <a href="<%= root_path %>retries"><%= t('GoBack') %></a>
    <div><!-- spacer --></div>
    <form action="<%= root_path %>retries/<%= job_params(@retry, @retry.score) %>" method="post">
      <%= csrf_tag %>
      <fieldset class="grid">
        <input type="submit" name="retry" value="<%= t('RetryNow') %>" />
        <input class="danger" type="submit" name="delete" value="<%= t('Delete') %>" />
      </fieldset>
    </form>
  </div>
</section>
